@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 43.75em;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
     font-family: 'Nunito', sans-serif;
}
.container {
    background-color: #fff;
    padding: 2rem;
    border: 0.0625em solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
    max-width: 25em;
    width: 90%;
}
.login_button {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(137, 198, 225);
    border: none;
    border-radius: 0.6em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login_button:hover {
    background-color: #0077aa; 
}
.container h1 {
    text-align: center;
    color: rgb(0, 26, 128);
}
